Challenge/.vs/
Challenge/Debug/
Challenge/ProjectEuler_CPP/Debug/
Challenge/WarsConsole_C/Debug/
Challenge/WarsConsole_CSharp/bin/Debug/netcoreapp3.1/WarsConsole.dll
Challenge/WarsConsole_CSharp/bin/
Challenge/WarsConsole_CSharp/obj/
